# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
wp-admin
wp-content/index.php
wp-content/languages
wp-content/plugins/classic-editor
wp-content/plugins/contact-form-7
wp-content/plugins/limit-login-attempts
wp-content/plugins/really-simple-captcha

wp-content/themes/index.php
wp-includes/
wp-content/uploads/wpcf7_captcha
wp-content/uploads/wpcf7_uploads

license.txt
readme.html
wp-*.php
xmlrpc.php
Datos
datitos
node_modules
*.xml
*.json
*.zip
*.gz
*.rar



# Example plugin
wp-content/plugins/*.php


# Log files
*.log

# htaccess
.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes