/* Las mediaqueries */
@media screen and (min-width: 920px) {
	nav ul li a:hover, nav.no_home ul li a:hover
	{
		color: #2D3B1C;
		border-radius: 8px 8px 0 0 !important;
		-ms-border-radius: 8px 8px 0 0 !important;
	}
}